<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rice</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="bg">
        <img src="../static/images/plainblack12-1024x576.jpg" alt="" height="795px" width="100%">
        <h1>Mobile Phones</h1>
    </div>


        <div class="header">  
            <h1>Mobiles</h1>
            <input type="text" placeholder="Search for products, brands and more" class="search1">
            <button type="submit" class="glass1"><i class="fa-solid fa-magnifying-glass" style="color: black;"></i></button>
            <a href="#" class="login1">Login</a>
            <p>Become a Seller</p>
            <p>More  <i class="fa-solid fa-chevron-down"></i></p>
            <p  class="icon"><i class="fa-solid fa-cart-shopping" style="color: black;"></i>  cart</p>
        </div> 

        <div class="products">
            <div class="riceitems">
                <h1>iphone 10</h1>
                <img src="../static/images/iPhone 10.png" alt="" height="160px" width="190px">
                <h2>Sponsored : Apple</h2>
                <select>
                    <option value="128gb">128GB</option>
                    <option value="256gb">256GB</option>
                    <option value="512gb">512GB</option>
                </select>
                <h3>Add Item</h3>
            </div>

            <div class="riceitems">
                <h1>iphone 11pro Max</h1>
                <img src="../static/images/11 pro max.png" alt="" height="150px" width="150px">
                <h2>Sponsored : Apple</h2>
                <select>
                    <option value="128gb">128GB</option>
                    <option value="256gb">256GB</option>
                    <option value="512gb">512GB</option>
                </select>
                <h3>Add Item</h3>
            </div>

            <div class="riceitems">
                <h1>iphone 13</h1>
                <img src="../static/images/iPhone 13.png" alt="" height="150px" width="130px">
                <h2>Sponsored : Apple</h2>
                <select>
                    <option value="128gb">128GB</option>
                    <option value="256gb">256GB</option>
                    <option value="512gb">512GB</option>
                </select>
                <h3>Add Item</h3>
            </div>
        </div>
</body>
</html> 